body{
    background-color: #a7dbe3;
    background-image: url(../img/restaurant.webp);
    color: #2f4c5c;
    font-size: 21px
}

h1{
    font-size: 70px;
    color:#3747b3;
}

p{
    font-size: 25px;
    color: orangered;
}